.list {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
}

.video:hover {
  cursor: pointer;
}

.upButton {
  bottom: calc(env(safe-area-inset-bottom) + 20px);
}

.upIcon:hover {
  color: var(--izone-color);
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .list {
    width: auto;
  }
}
